@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0; }

.focus-element {
  margin-top: -4rem;
  position: absolute;
  top: 0; }

.section-padding {
  padding: 5vh 5vw 5vh 5vw; }

.section-header {
  margin-top: 0;
  color: #696666;
  font-size: 2rem; }

.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #212121;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0; }
  .navbar .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem; }
    .navbar .brand a {
      font-size: 1.5rem;
      text-decoration: none;
      color: #f5f5f5; }
  .navbar .navigation {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(33, 33, 33, 0.8);
    position: absolute;
    width: 100vw;
    top: 4rem;
    transition: all 0.5s ease-in-out;
    left: -100vw; }
    .navbar .navigation li {
      width: 100%;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(76, 76, 76, 0.5); }
    .navbar .navigation a {
      text-decoration: none;
      font-size: 1.125rem;
      color: #f5f5f5;
      cursor: pointer;
      letter-spacing: 0.1rem;
      width: 100%;
      height: 100%;
      padding: 0.8rem;
      text-align: center; }
  .navbar .show {
    left: 0; }
  .navbar .navbar-toggler .hamburger {
    width: 1.5rem;
    height: 0.2rem;
    background-color: #f5f5f5;
    border-radius: 5px;
    transition: all 0.5s ease-in-out; }
  .navbar .navbar-toggler .hamburger::before,
  .navbar .navbar-toggler .hamburger::after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 0.2rem;
    background: #f5f5f5;
    border-radius: 5px;
    transition: all 0.5s ease-in-out; }
  .navbar .navbar-toggler .hamburger::before {
    transform: translateY(-0.5rem);
    height: 0.25rem; }
  .navbar .navbar-toggler .hamburger::after {
    transform: translateY(0.5rem);
    height: 0.25rem; }
  .navbar .open .hamburger {
    background: transparent; }
  .navbar .open .hamburger::before {
    transform: rotate(45deg); }
  .navbar .open .hamburger::after {
    transform: rotate(-45deg); }

.hero {
  height: 90vh;
  background: url(../images/hero-desktop.jpg);
  background-size: cover;
  background-position: center;
  display: flex; }

.hero-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero-main .content-group {
    letter-spacing: 0.1rem;
    margin-bottom: 20vh;
    color: #f5f5f5;
    text-align: center; }

.about-me {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  color: #212121;
  background-image: url(../images/keyboard.jpg);
  background-size: cover;
  color: #696666; }
  .about-me .about-me-group {
    display: flex;
    flex-direction: column; }
    .about-me .about-me-group .about-me-section {
      background-color: rgba(245, 245, 245, 0.9);
      border-radius: 10px;
      box-shadow: 5px 5px 10px 1px #555;
      padding: 0.5rem;
      margin-bottom: 1rem; }
    .about-me .about-me-group .center-image {
      display: none; }
    .about-me .about-me-group h3 {
      font-size: 1.5rem; }
    .about-me .about-me-group .skills-section {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap; }
      .about-me .about-me-group .skills-section .skill-container {
        margin: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #555; }

.projects {
  position: relative;
  background: #424242; }
  .projects h2 {
    color: #f5f5f5; }
  .projects .project-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: #f5f5f5;
    background: #212121;
    box-shadow: 5px 5px 10px 1px #555;
    overflow: hidden;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem; }
    .projects .project-card .project-image {
      height: 28vh; }
    .projects .project-card #projectImageOne {
      background: url(../images/smaller-intro-component-with-sign-up-form.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .projects .project-card #projectImageTwo {
      background: url(../images/smaller-pod-request-access-landing-page.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .projects .project-card .project-description {
      padding: 0.5rem; }
      .projects .project-card .project-description h3 {
        font-size: 1.5rem; }
      .projects .project-card .project-description .project-link-container {
        border: 3px solid #f5f5f5;
        padding: 5px 10px 5px 10px;
        border-radius: 30px;
        width: fit-content; }
        .projects .project-card .project-description .project-link-container .project-link {
          color: #f5f5f5;
          text-decoration: none;
          font-size: 1.2rem;
          height: 100%;
          width: 100%;
          cursor: pointer; }

.contact-me {
  position: relative;
  height: 75vh; }
  .contact-me .form-container {
    display: flex;
    flex-direction: column; }
    .contact-me .form-container .contact-me-form {
      background-color: rgba(245, 245, 245, 0.9);
      border-radius: 10px;
      box-shadow: 5px 5px 10px 1px #555;
      padding: 1rem;
      color: #212121;
      margin-bottom: 2rem; }
      .contact-me .form-container .contact-me-form .form-group {
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column; }
        .contact-me .form-container .contact-me-form .form-group label {
          font-size: 1.125rem;
          color: #696666;
          font-weight: 600; }
        .contact-me .form-container .contact-me-form .form-group input {
          border: #696666 1px solid;
          border-radius: 5px;
          height: 1.5rem;
          padding-left: 0.75rem;
          color: #212121;
          font-size: 0.9rem; }
        .contact-me .form-container .contact-me-form .form-group input:focus {
          outline: #52adeb 2px solid;
          border: transparent 1px solid; }
        .contact-me .form-container .contact-me-form .form-group textarea {
          border: #696666 1px solid;
          border-radius: 5px;
          padding-left: 0.75rem;
          color: #212121;
          font-size: 0.9rem;
          height: 8rem; }
        .contact-me .form-container .contact-me-form .form-group textarea:focus {
          outline: #52adeb 2px solid;
          border: transparent 1px solid; }
        .contact-me .form-container .contact-me-form .form-group .error {
          outline: #df2525 2px solid;
          border: transparent 1px solid; }
        .contact-me .form-container .contact-me-form .form-group .error-message {
          color: #df2525;
          font-size: 0.8rem;
          margin-top: 0.3rem; }
        .contact-me .form-container .contact-me-form .form-group .submit-button {
          color: #f5f5f5;
          background-color: #444;
          border: none;
          height: 2rem;
          border-radius: 5px;
          font-weight: 600;
          font-size: 1rem;
          cursor: pointer; }
        .contact-me .form-container .contact-me-form .form-group .submit-button:hover {
          background: #666; }
    .contact-me .form-container .links-section {
      display: flex;
      justify-content: space-around;
      margin-bottom: 2rem; }
      .contact-me .form-container .links-section h3 {
        font-size: 1.5rem;
        color: #696666; }
      .contact-me .form-container .links-section .links-group {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap; }
        .contact-me .form-container .links-section .links-group .link-container {
          margin: 0.3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          border-radius: 5px;
          box-shadow: 5px 5px 10px #555; }

@media (min-width: 992px) {
  .section-padding {
    padding: 10vh 20vw 10vh 20vw; }
  .section-header {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 3rem; }
  .navbar {
    justify-content: space-between;
    padding-left: 20vw;
    padding-right: 20vw; }
    .navbar .navigation {
      background: unset;
      left: unset;
      top: unset;
      position: unset;
      flex-direction: row;
      width: 30vw; }
      .navbar .navigation li {
        border-bottom: none; }
    .navbar .navbar-toggler {
      display: none; }
  .hero {
    height: 96vh; }
    .hero .hero-main {
      justify-content: flex-start; }
      .hero .hero-main .content-group {
        margin-bottom: unset;
        margin-left: 12vw; }
  a .hero-main {
    width: 40vw;
    height: 100%;
    margin-top: 0;
    padding: 0; }
  .about-me {
    background-image: unset; }
    .about-me .about-me-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .about-me .about-me-group .about-me-section {
        width: 16vw; }
      .about-me .about-me-group .center-image {
        display: unset;
        background-image: url(../images/keyboard.jpg);
        background-size: cover;
        width: 16.5vw;
        height: 22vw;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px; }
      .about-me .about-me-group h3 {
        font-size: 1.5rem; }
      .about-me .about-me-group .skills-section {
        flex-direction: row;
        width: 16vw; }
  .projects {
    display: flex;
    flex-direction: column; }
    .projects .project-card {
      flex-direction: row;
      padding-bottom: 0;
      width: 45vw;
      height: 30vh; }
      .projects .project-card .project-image {
        width: 60%;
        height: 30vh; }
      .projects .project-card .project-description {
        width: 40%;
        order: 1; }
      .projects .project-card #projectImageTwo {
        order: 2; }
    .projects .project-card:nth-child(3) {
      margin-bottom: 4rem; }
    .projects .project-card:nth-child(4) {
      align-self: flex-end; }
  .contact-me .form-container {
    flex-direction: row;
    justify-content: unset; }
    .contact-me .form-container .contact-me-form {
      width: 25vw; }
      .contact-me .form-container .contact-me-form button {
        width: 6rem; }
    .contact-me .form-container .links-section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25vw; } }
