@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

$light-theme: #f5f5f5;
$dark-theme: #212121;
$section-padding: 5vh 5vw 5vh 5vw;
$title-letter-spacing: 0.1rem;
$text-color: #696666;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $dark-theme;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;

  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: $title-letter-spacing;

    a {
      font-size: 1.5rem;
      text-decoration: none;
      color: $light-theme;
    }
  }

  .navigation {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    // mobile properties
    flex-direction: column;
    background-color: rgba($color: $dark-theme, $alpha: 0.8);
    position: absolute;
    width: 100vw;
    top: 4rem;
    transition: all 0.5s ease-in-out;
    left: -100vw;

    li {
      width: 100%;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(76, 76, 76, 0.5);
    }
    a {
      text-decoration: none;
      font-size: 1.125rem;
      color: $light-theme;
      cursor: pointer;
      letter-spacing: $title-letter-spacing;
      width: 100%;
      height: 100%;
      padding: 0.8rem;
      text-align: center;
    }
  }

  .show {
    left: 0;
  }
  .navbar-toggler {
    .hamburger {
      width: 1.5rem;
      height: 0.2rem;
      background-color: $light-theme;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
    }

    .hamburger::before,
    .hamburger::after {
      content: "";
      position: absolute;
      width: 1.5rem;
      height: 0.2rem;
      background: $light-theme;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
    }

    .hamburger::before {
      transform: translateY(-0.5rem);
      height: 0.25rem;
    }

    .hamburger::after {
      transform: translateY(0.5rem);
      height: 0.25rem;
    }
  }

  .open .hamburger {
    background: transparent;
  }

  .open .hamburger::before {
    transform: rotate(45deg);
  }

  .open .hamburger::after {
    transform: rotate(-45deg);
  }
}

.hero {
  height: 90vh;
  background: url(../images/hero-desktop.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
}

.hero-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content-group {
    letter-spacing: $title-letter-spacing;
    margin-bottom: 20vh;
    color: $light-theme;
    text-align: center;
  }
}

.about-me {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $light-theme;
  color: $dark-theme;
  background-image: url(../images/keyboard.jpg);
  background-size: cover;
  color: $text-color;

  .about-me-group {
    display: flex;
    flex-direction: column;

    .about-me-section {
      background-color: rgba($color: $light-theme, $alpha: 0.9);
      border-radius: 10px;
      box-shadow: 5px 5px 10px 1px #555;
      padding: 0.5rem;
      margin-bottom: 1rem;
    }

    .center-image {
      display: none;
    }

    h3 {
      font-size: 1.5rem;
    }

    .skills-section {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      .skill-container {
        margin: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #555;
      }
    }
  }
}

.projects {
  position: relative;
  height: 80vh;
}

.contact-me {
  position: relative;
  height: 80vh;
}

.focus-element {
  margin-top: -4rem;
  position: absolute;
  top: 0;
}

.section-padding {
  padding: $section-padding;
}

.section-header {
  margin-top: 0;
  color: #696666;
  font-size: 2rem;
}

.footer {
  height: 30vh;
}

@media (min-width: 992px) {
  $section-padding: 10vh 20vw 10vh 20vw;

  .navbar {
    justify-content: space-between;
    padding-left: 20vw;
    padding-right: 20vw;
    .navigation {
      background: unset;
      left: unset;
      top: unset;
      position: unset;
      flex-direction: row;
      width: 30vw;

      li {
        border-bottom: none;
      }
    }
    .navbar-toggler {
      display: none;
    }
  }

  .hero {
    .hero-main {
      justify-content: flex-start;

      .content-group {
        margin-bottom: unset;
        margin-left: 12vw;
      }
    }
  }
  a .hero-main {
    width: 40vw;
    height: 100%;
    margin-top: 0;
    padding: 0;
  }
  .about-me {
    background-image: unset;

    .about-me-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .about-me-section {
        width: 16vw;
      }

      .center-image {
        display: unset;
        background-image: url(../images/keyboard.jpg);
        background-size: cover;
        width: 16.5vw;
        height: 22vw;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
      }

      h3 {
        font-size: 1.5rem;
      }

      .skills-section {
        flex-direction: row;
        width: 16vw;
      }
    }
  }

  .section-padding {
    padding: $section-padding;
  }

  .section-header {
    font-size: 2.5rem;
    margin: 0;
  }
}
